* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  height: 211px;
  background: rgba(45,173,202,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border: 1px solid rgba(45,173,202,1);
  overflow: hidden;
}
.v1_109 {
  width: 112px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 664px;
  border: 8px solid rgba(45,173,202,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_32 {
  width: 191px;
  height: 193px;
  background: rgba(46,174,202);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 11px;
  overflow: hidden;
}
.v1_33 {
  width: 88px;
  height: 89px;
  background: url("../images/v1_33.png");
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 47px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_34 {
  width: 45px;
  height: 46px;
  background: url("../images/v1_34.png");
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 92px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_35 {
  width: 23px;
  height: 24px;
  background: url("../images/v1_35.png");
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 31px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_36 {
  width: 23px;
  height: 24px;
  background: url("../images/v1_36.png");
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 135px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_37 {
  width: 23px;
  height: 24px;
  background: url("../images/v1_37.png");
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 135px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_38 {
  width: 71px;
  height: 72px;
  background: url("../images/v1_38.png");
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 31px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_62 {
  width: 59px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 37px;
}
.v1_55 {
  width: 961px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 191px;
  font-family: Zen Tokyo Zoo;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v9_29 {
  width: 733px;
  height: 383px;
  background: rgba(45,173,202,1);
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 353px;
  overflow: hidden;
}
.v9_30 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 403px;
  left: 549px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v9_36 {
  width: 595px;
  height: 61px;
  background: url("../images/v9_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 422px;
  overflow: hidden;
}
.v9_31 {
  width: 595px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_32 {
  width: 165px;
  color: rgba(187,187,187,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_34 {
  width: 20px;
  height: 16px;
  background: rgba(187,187,187,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 20px;
  border: 1px solid rgba(187,187,187,1);
}
.v9_37 {
  width: 595px;
  height: 61px;
  background: url("../images/v9_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 571px;
  left: 422px;
  overflow: hidden;
}
.v9_38 {
  width: 595px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_39 {
  width: 165px;
  color: rgba(187,187,187,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_42 {
  width: 24px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v9_43 {
  width: 17px;
  height: 18px;
  background: url("../images/v9_43.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(187,187,187,1);
}
.v9_44 {
  width: 0px;
  background: url("../images/v9_44.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 15px;
  border: 2px solid rgba(187,187,187,1);
}
.v9_45 {
  width: 595px;
  height: 61px;
  background: url("../images/v9_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 422px;
  overflow: hidden;
}
.v9_46 {
  width: 595px;
  height: 61px;
  background: rgba(175,240,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_47 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 215px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v10_52 {
  width: 48px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 691px;
  overflow: hidden;
}
.v10_53 {
  width: 48px;
  height: 49px;
  background: url("../images/v10_53.png");
  opacity: 1;
  position: absolute;
 
}
.v10_54 {
  width: 26px;
  height: 6px;
  background: url("../images/v10_54.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 6px;
  border: 4px solid rgba(45,173,202,1);
}
.v10_55 {
  width: 6px;
  height: 6px;
  background: url("../images/v10_55.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  border: 4px solid rgba(45,173,202,1);
}
